@media screen and (max-width: 768px) {
  ul.nav,
  div.login,
  div.search {
    display: none;
  }

  .swiper .swiper-wrapper .swiper-slide .banner {
    flex-direction: column; /* Colocar os elementos em coluna para telas pequenas */
    justify-content: center;
  }

  .swiper .swiper-wrapper .swiper-slide .banner img {
    max-width: 100%; /* Garantir que as imagens não ultrapassem a largura da tela */
    height: auto;
  }

 /* Esconder botões em telas pequenas com suporte a toque */

    .swiper-button-prev, 
    .swiper-button-next {
        display: none; /* Oculta os botões de navegação */
    }

  

 
  /* Ajuste da imagem dentro do banner */
  .swiper .swiper-wrapper .swiper-slide .banner img {
    max-width: 100%;
    max-height: 70vh; /* Limite a altura das imagens para 70% da altura da tela */
    width: auto; /* A largura é ajustada automaticamente */
    height: auto;
    object-fit: contain; /* Manter a proporção da imagem */
  }

  /* Ajustar o conteúdo da esquerda do banner para telas pequenas */

  .banner .left .features {
    max-width: 100%; /* Deixe o conteúdo ocupar toda a largura */
    margin-bottom: 0;
  }

  .banner .left .features .rating {
    margin-bottom: 15px; /* Ajuste a margem entre os itens */
}

.banner .left .features .content {
    align-items: flex-start;
    margin-left: 0;
}
}
